/* Global */

:root {
  --base-font: 20px;
  --primary-font: "Poppins";
  --secondary-font: "Courier";
  --white: #ffffff;
  --primary-bg: #0a0c11;
  --primary-text: #abadb3;
  --primary-color: #2292b1;
  --start-gradient: #1b3385;
  --end-gradient: #25c5c9;
  --link-color: #abadb3;
  --hover-color: #2292b1;
  --sub-menu-color: #222;
  --border-color: #323438;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  color: var(--white);
  margin: 0;
}
h1 {
  font-size: 4em;
  font-weight: var(--medium);
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: var(--medium);
  line-height: 2.85em;
}

h3 {
  font-size: 1.47em;
  font-weight: var(--medium);
  line-height: 1.92em;
}

h4 {
  font-size: 1.4em;
  font-weight: var(--bold);
  line-height: 2.1em;
}

h5 {
  font-size: 1.2em;
  font-weight: var(--bold);
  line-height: 1.6em;
}

h6 {
  font-size: 1.44em;
  font-weight: var(--semi-bold);
  line-height: 1.4em;
}

.lowlight {
  opacity: 0.5;
}

a {
  font-weight: var(--normal);
  text-decoration: none;
  color: var(--primary-text);
  font-size: 0.9em;
  font-style: normal;
  line-height: 2.4em;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

/* ul li {
  display: inline-block;
  position: relative;
} */

a:hover,
.logo:hover {
  color: var(--hover-color);
}

/* Sections */

/* .inner-container {
  max-width: 1720px;
  overflow: hidden;
} */

/* Hero-section */

header {
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 100px;
  width: 100%;
  height: 120px;
  display: flex;
}

header * {
  flex: 1;
}

.logo {
  font-weight: var(--bold);
  font-size: 1.6em;
  color: var(--white);
}

.selected {
  color: var(--hover-color);
}

.nav-header li {
  margin: 0 18px;
}

.nav-header li:nth-child(2) ul {
  display: none;
}

.nav-header li:nth-child(2) {
  min-width: 110px;
  position: relative;
}

.nav-header li:nth-child(2):hover ul {
  display: block;
}

.sub-nav-header {
  position: absolute;
  top: 44px;
  left: -20px;
  z-index: 99;
}

.sub-nav-header li {
  width: 235px;
  height: 44px;
  background-color: var(--sub-menu-color);
  border-bottom: 1px solid var(--border-color);
  padding-left: 23px;
}

.sub-nav-header a {
  font-size: 0.75em;
  font-weight: var(--normal);
}

.social {
  justify-content: flex-end;
}

.social li {
  flex: 0;
  padding: 0 16px;
}

.social li:hover {
  background: var(--link-color);
}

.main {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.main p {
  margin-bottom: 50px;
  font-size: 1.2em;
  font-weight: var(--light);
}

.button-gradient {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    var(--start-gradient) 0%,
    var(--end-gradient) 100%
  );
  width: 180px;
  border: 0;
  height: 30px;
  font-size: 0.9em;
  font-weight: var(--bold);
  text-transform: capitalize;
  color: var(--white);
  display: inline-flex;
  padding: 30px 30px 30px 5px;
  align-items: center;
}

.button-gradient:hover {
  color: var(--primary-bg);
  background: var(--white);
}

/*=======================================
    #Variables
=========================================*/

/*
  TABLE OF CONTENTS

  COLORS
  Brand colors............................These are the main brand colors.
  Neutral colors..........................White and black, gray sacale, secondary colors.
  Utility colors..........................Other colors to represent states: info, warning, sucess, etc.

  TYPOGRAPHY
  Font famillies..........................The fonts used in the design system.
  Font weights............................Font weights
  Sizes...................................Font sizing for body text, paragraphs, inputs
  Heading sizes...........................Font sizing for page headings

  BREAKPOINTS
  Breakpoints.............................Global responsive breakpoints definitions
*/

/*=======================================
    COLORS
=========================================*/

/*=======================================
    TYPOGRAPHY
=========================================*/
/*
  1. The Poppins font. This is the main font.
  https://fonts.googleapis.com/css?family=Poppins

  2. The Courier font. This is used for <pre> code.
  https://fonts.googleapis.com/css?family=Poppins
*/

/*=======================================
    BREAKPOINTS
=========================================*/
