/* Global */

/*=======================================
    #Variables
=========================================*/

/*
  TABLE OF CONTENTS

  COLORS
  Brand colors............................These are the main brand colors.
  Neutral colors..........................White and black, gray sacale, secondary colors.
  Utility colors..........................Other colors to represent states: info, warning, sucess, etc.

  TYPOGRAPHY
  Font famillies..........................The fonts used in the design system.
  Font weights............................Font weights
  Sizes...................................Font sizing for body text, paragraphs, inputs
  Heading sizes...........................Font sizing for page headings

  BREAKPOINTS
  Breakpoints.............................Global responsive breakpoints definitions
*/
:root {
  /*=======================================
    COLORS
=========================================*/

  /*=============================
  BRAND COLORS
===============================*/

  --primary-color: #2292b1;
  --start-gradient: #1b3385;
  --end-gradient: #25c5c9;
  --link-color: #abadb3;
  --hover-color: #2292b1;
  --border-margin: #383636;

  /*==============================
  NEUTRAL COLORS
================================*/

  --white: #ffffff;
  --primary-bg: #0a0c11;
  --primary-text: #abadb3;
  --sub-menu-color: #222;
  --border-color: #323438;

  /*=======================================
  TYPOGRAPHY
=========================================*/

  /*
    1. The Poppins font. This is the main font.
    https://fonts.googleapis.com/css?family=Poppins

    2. The Courier font. This is used for <pre> code.
    https://fonts.googleapis.com/css?family=Poppins
*/

  /*=========================
  Font weights
==========================*/

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --heavy: 900;

  /*=========================
    Font famillies
==========================*/

  --primary-font: "Poppins";
  --secondary-font: "Courier";

  /*=========================
  Sizes
==========================*/
  --base-font: 20px;
}

/*=======================================
    RESETS
=========================================*/

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--primary-text);
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=========================
  Heading Sizes
==========================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--medium);
  font-family: var(--primary-font);
  color: var(--white);
  margin: 0;
}
h1 {
  font-size: 2.1em;
  font-weight: var(--medium);
  line-height: 1.72em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.29em;
  text-transform: capitalize;
  margin-top: 14px;
}

h3 {
  font-size: 1.6em;
  font-weight: var(--bold);
}

h4 {
  font-size: 1em;
  font-weight: var(--bold);
  line-height: 1em;
}

h5 {
  font-size: 0.8em;
  font-weight: var(--bold);
  line-height: 1.6em;
  color: var(--link-color);
}

h6 {
  font-size: 1.44em;
  font-weight: var(--semi-bold);
  line-height: 1.4em;
}

.lowlight {
  opacity: 0.5;
}

a {
  font-weight: var(--normal);
  text-decoration: none;
  color: var(--primary-text);
  font-size: 0.9em;
  font-style: normal;
  line-height: 2.4em;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

ul li {
  position: relative;
}

a:hover,
.logo h2:hover {
  color: var(--hover-color);
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.button-gradient {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    var(--start-gradient) 0%,
    var(--end-gradient) 100%
  );

  font-size: 0.9em;
  font-weight: var(--bold);
  text-transform: capitalize;
  color: var(--white);
  padding: 16px 25px;
  text-align: center;
}

.button-gradient:hover {
  color: var(--primary-bg);
  background: var(--white);
}

/* Sections */

/*=======================================
  Mobile First
=========================================*/

/* Hero-section */

.blocks {
  padding: 0 30px;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  flex: 3;
}

h2 > * {
  font-size: 24px;
  font-weight: 700;
}

.mobile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.mobile img {
  width: 16px;
}

.desktop {
  display: none;
}

.arrow {
  margin-left: 100px;
  margin-top: -40px;
}

.submenu {
  display: none;
}

.social {
  flex: 3;
  display: flex;
  justify-content: center;
}

.social ul {
  column-gap: 25px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 42px 0;
  margin: 0 auto;
}

main > * {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-tagline {
  margin-top: 24px;
  font-size: 22px;
  line-height: 38px;
}

.cta {
  margin-bottom: 40px;
  text-align: center;
}

.hero-video video {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
}

/* Our services-Section */

.our-services {
  margin-top: 35px;
}

.headers h5 {
  padding: 10px 0;
}

.statistical-numbers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 0;
}

.number-box {
  display: flex;
  flex-direction: column;
}

.number-box > * {
  display: flex;
  justify-content: center;
  margin: 2px;
}

/* Featured Content-Section && Contact Us-section*/

.what-we-do {
  text-align: center;
  margin-bottom: 35px;
}

.padding-subtitle {
  padding: 20px 0 10px 0;
}

.figure-creative {
  border: 1px solid var(--border-margin);
  margin-bottom: 30px;
  padding: 35px 35px;
}

.figure-creative p {
  font-size: 1em;
  line-height: 32px;
  margin: 20px 0 30px 0;
}

.figure-creative .underline {
  padding-bottom: 8px;
  font-size: 0.8em;
  border-bottom: 2px solid var(--hover-color);
  position: relative;
}

.figure-mobile {
  border: 1px solid var(--border-margin);
  margin-bottom: 30px;
  padding: 35px 35px;
}

.figure-mobile p {
  font-size: 1em;
  line-height: 32px;
  margin: 20px 0 30px 0;
}

.figure-mobile .underline {
  padding-bottom: 8px;
  font-size: 0.8em;
  border-bottom: 2px solid var(--hover-color);
  position: relative;
}

.figure-vintage {
  border: 1px solid var(--border-margin);
  margin-bottom: 30px;
  padding: 35px 35px;
}

.figure-vintage p {
  font-size: 1em;
  line-height: 32px;
  margin: 20px 0 30px 0;
}

.figure-vintage .underline {
  padding-bottom: 8px;
  font-size: 0.8em;
  border-bottom: 2px solid var(--hover-color);
  position: relative;
}

.promotional-contact {
  text-align: center;
  margin: 50px 0;
  background-image: url(/src/images/promotional-contact.jpg);
  max-width: 100%;
  height: 350px;
  padding: 60px 0;
}

.promotional-contact h2 {
  padding: 10px 0 40px 0;
}

/* Footer-section */

footer {
  display: flex;
  flex-direction: column;
}

#email {
  font-size: 0.7em;
  padding: 13px;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 210px;
}

.email-button {
  font-size: 0.7em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0;
  padding: 14px 16px 13.5px;
  margin-left: -7px;
}

.footer-selected {
  color: var(--hover-color);
}

.footer-newsletter {
  flex-direction: column;
  gap: 35px;
}

.footer-links {
  margin-top: -30px;
  flex-direction: column;
}

.footer-support {
  flex-direction: column;
}

.footer-links .footer-quick-links {
  margin-bottom: 20px;
}

.footer-costumer-support {
  margin-bottom: 20px;
}

.footer-copyright {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-copyright .footer-social {
  gap: 25px;
}

span.footer-underline {
  margin-left: -30px;
  width: 400px;
  padding-bottom: 8px;
  font-size: 0.8em;
  border-bottom: 2px solid var(--border-margin);
  position: relative;
}

/*=======================================
    TABLET & DESKTOP BREAKPOINTS
=========================================*/
@media all and (min-width: 479px) and (max-width: 1280px) {
}

@media all and (min-width: 479px) {
  .selected {
    color: var(--hover-color);
  }

  .circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    left: -11px;
    top: -3px;
  }

  .circle:hover {
    background: rgba(255, 255, 255, 0.25);
  }

  .blocks {
    padding: 0 88px;
  }

  .hero {
    padding: 0 85px;
  }

  .logo {
    flex: 1;
  }

  .logo h2 {
    font-size: 32px;
    font-weight: 700;
  }

  .mobile {
    display: none;
  }

  .desktop > ul {
    gap: 35px;
  }

  .desktop {
    flex: 3;
    display: flex;
    column-gap: 35px;
    justify-content: center;
  }

  .desktop ul li {
    position: relative;
  }

  .desktop ul li:nth-child(2):hover .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .submenu {
    width: 230px;
    background-color: var(--sub-menu-color);
    z-index: 99;
  }

  .submenu li {
    min-width: 100%;
    padding-left: 20px;
    border: 1px solid var(--border-color);
  }

  .submenu li:hover {
    padding-left: 30px;
  }

  .social {
    flex: 1;
  }

  h1 {
    font-size: 4em;
    line-height: 1.72em;
  }

  h2 {
    font-size: 2.43em;
  }

  h3 {
    font-size: 2.27em;
  }

  main {
    max-width: 760px;
  }

  .cta {
    margin-bottom: 70px;
    text-align: center;
  }

  .our-services {
    display: flex;
    margin: 140px 0;
  }

  .headers {
    margin-bottom: -40px;
  }

  .statistical-numbers {
    flex-direction: row;
    gap: 40px;
    padding: 0 80px;
    margin-bottom: 131px;
  }

  .statistical-numbers > * {
    flex: 1;
  }

  .our-services > * {
    flex: 1;
  }
  .our-services-layout {
    padding: 0px 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .our-services-layout p {
    margin-top: 90px;
  }

  .what-we-do {
    margin-top: -70px;
  }

  .what-we-do-figure {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .figure-creative:hover .creative-lights img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .figure-mobile:hover .mobile-photography img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .figure-vintage:hover .vintage-camera img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .figure-creative {
    border: 2px solid var(--border-margin);
    margin-bottom: 30px;
    padding: 35px 35px;
    flex: 1;
  }

  figure {
    overflow: hidden;
  }

  .figure-mobile {
    border: 2px solid var(--border-margin);
    margin-bottom: 30px;
    padding: 35px 35px;
    flex: 1;
  }

  .figure-vintage {
    border: 2px solid var(--border-margin);
    margin-bottom: 30px;
    padding: 35px 35px;
    flex: 1;
  }

  .promotional-contact {
    text-align: center;
    margin: 100px 0;
    background-image: url(/src/images/promotional-contact.jpg);
    max-width: 100%;
    height: 460px;
    padding: 120px 0;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
